.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-display {
  min-height: calc(100vh - 500px);
}

.top-menu {
  width: 100%;
  padding-right: 1em;
}

.job-menu {
  position: absolute;
  right: 1em;
  display: inline-block;
}

.custom-button {
  padding-top: 1em;
  padding-bottom: 1em;
}