.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-row {
  height: 100vh;
  padding: 0em;
  margin: 0em;
}

.main-display {
  min-height: calc(100vh - 137px);
  padding-top: 1em;
  padding-right: 2em;
  margin-bottom: 0em;
}

.top-menu {
  width: 100%;
}

.job-menu {
  position: absolute;
  right: 1em;
  display: inline-block;
}

.custom-button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.jobs-menu-icons {
  position: absolute;
  display: inline;
  right: 1em;
  bottom: 0em;
}

.custom-calendar-style {
  margin-top: 1em;
  font-style: italic;
}
